@model Animals.Models.Animal



         @{
             ViewBag.Title = "Details";
         }

         <h2>Details</h2>
 
         <div>
             <h4>Animal</h4>
             <hr />
             <dl class="dl-horizontal">
                 <dt>
                     @Html.DisplayNameFor(model => model.Name)
                 </dt>

                 <dd>
                     @Html.DisplayFor(model => model.Name)
                 </dd>

                 <dt>
                     @Html.DisplayNameFor(model => model.Type.Name)
                 </dt>

                 <dd>
                     @Html.DisplayFor(model => model.Type.Name)
                 </dd>

                 <dt>
                     @Html.DisplayNameFor(model => model.Color.Name)
                 </dt>

                 <dd>
                     @Html.DisplayFor(model => model.Color.Name)
                 </dd>

                 <dt>
                     @Html.DisplayNameFor(model => model.Location.Name)
                 </dt>

                 <dd>
                     @Html.DisplayFor(model => model.Location.Name)
                 </dd>
                 <dt>
                     @Html.DisplayNameFor(model => model.Location.Region.Name)
                 </dt>

                 <dd>
                     @Html.DisplayFor(model => model.Location.Region.Name)
                 </dd>

             </dl>
         </div>
         <p>
                     @Html.ActionLink("Back to List", "Index")
         </p>

